.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    background-color: #2D2D40;
    width: 350px;
    padding: 40px 30px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
}

.input-container label {
    color: #CDCDDE;
    font-size: 12px;
    font-weight: 500;
}

.join-btn {
    background-color: #3699FF;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    .form-card {
        width: 300px;
    }
}