.main-screen-container {
    width: 100vw;
    height: 90vh;
}

.ready-screen-container {
    width: 360px;
    height: 300px;
}

.screen-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 15px;
}

.ready-screen {
    width: 100%;
    height: 100%;
}

.screen-card {
    background-color: #000000;
    width: 100%;
    height: 100%;
    border-radius: 7.5px;
    position: relative;
    min-height: 200px;
}

.ready-card {
    background-color: #000000;
    border-radius: 7.5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 999;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 7.5px;
    object-fit: cover;
    transform: rotateY(180deg);
}

.muted-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #F64E60;
}

.participant-email {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #FFFFFF;
}

@media (max-width: 800px) {
    .screen-grid {
        grid-template-columns: repeat(var(--grid-col-size), 1fr);
        grid-template-rows: repeat(var(--grid-row-size), 1fr);
    }

    .avatar {
        width: 75px;
        height: 75px;
        font-size: 40px;
    }

    .muted-icon {
        font-size: 16px;
    }

    .participant-email {
        font-size: 8px;
    }
}